<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://www.facebook.com/nani.dasari" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/naaani_dasari/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <!-- <a href=""><i class="fa-brands fa-google-plus"></i></a> -->
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul><li><a routerLink="/">Home</a></li>
                <!-- <li><a href="">News</a></li> -->
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contactus">Contact Us</a></li>
                <li><a routerLink="/ourteam">our Team</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2025; Designed by <span class="designer">Srinivas Dasari</span></p>
    </div>
</footer>