<!-- Login Form here  -->
<form class="login" *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
<h3 class="d-flex justify-content-center align-items-center">Welcome to LawMate</h3>
      <img src="../../../assets/logolawmate.png" routerLink="/" alt="Lawmate Logo" class="logo" width="150" height="150" />
  <input type="text" placeholder="Email" formControlName="email"
 />
  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error">
    Username is required
  </div>

  <input type="password" placeholder="Password" formControlName="password"
 />
 <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
    Password is required
  </div>
  
  <input type="submit" value="Log In" />
  <div class="links">
    <a>Forgot password</a>
    <a (click)="toggleMode()">Register</a>
  </div>
</form>

<!-- Signupform here -->
 <form *ngIf="!isLoginMode" [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()" class="login">
  <h2>Sign up Account</h2>

  <input type="text" placeholder="User Name" formControlName="username" autocomplete="off"  />
  <div *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.invalid" class="error">
    Username is required (min 3 characters)
  </div>

  <input type="email" placeholder="Email" formControlName="email" autocomplete="off"  />
  <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="error">
    Valid email is required
  </div>

  <input type="text" placeholder="Mobile Number" formControlName="mobileno" autocomplete="off"  />
  <div *ngIf="signupForm.get('mobileno')?.touched && signupForm.get('mobileno')?.invalid" class="error">
    Mobile number is required
  </div>

  <input type="password" placeholder="Password" formControlName="password" autocomplete="new-password"  />
  <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="error">
    Password must be at least 6 characters
  </div>
  <select formControlName="userType">
  <option value="" disabled selected hidden>User Type</option>
  <option value="client">Client</option>
  <option value="advocate">Advocate</option>
</select>
  <div *ngIf="signupForm.get('userType')?.touched && signupForm.get('userType')?.invalid" class="error">
    Please select a user type
  </div>

  <input type="submit" value="Sign Up" />
  <div class="links">
    <a (click)="toggleMode()">Back to Login</a>
  </div>
</form>