
.contact-container {
      max-width: 400px;
      margin: 10px auto;
      padding: 10px 32px;
      background: #fff;
      border-radius: 7px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    }
    .contact-container h2 {
      margin-top: 0;
      margin-bottom: 22px;
      text-align: center;
      /* color: #3498db; */
      text-shadow: 1px 1px #dee2e6;
      color: black;
    }
    .form-group {
      margin-bottom: 16px;
    }
    .form-group label {
      margin-bottom: 6px;
      display: block;
      color: #444;
    }
    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #bbb;
      border-radius: 4px;
      resize: vertical;
    }
    .form-group textarea {
      min-height: 80px;
    }
    button {
      width: 100%;
      padding: 10px;
      border: none;
      background: black;
      color: #fff;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background: gray;
      cursor: pointer;
    }