<div class="container">
  <mat-card class="example-card" appearance="outlined">
    @if(userDetails?.userType =='client'){
    <div class="user-section">
      <img mat-card-image src="../../../assets/account.png" width="200" height="200" alt="Photo of a client">
    </div>
    }@else{
    <div class="user-section">
      <img mat-card-image src="../../../assets/lawer.png" width="200" height="200" alt="Photo of a advocate">

    </div>
    }


    <mat-card-header>
      <mat-card-title>{{userDetails?.username | titlecase}}</mat-card-title>
      <small><span style="font-size: 10px;">User Type:</span> <b> {{userDetails?.userType == 'client' ? 'Client' :
          userDetails?.userType | titlecase}}</b></small>
      @if(userDetails?.userType == 'advocate'){
      <small><span style="font-size: 10px;">Ratting:</span> <b> *****</b></small>
      }
      <small><span style="font-size: 10px;">Contact:</span> <b> {{userDetails?.email}}</b></small>
      <small><span style="font-size: 10px;">Password:</span> <b> {{userDetails?.password}}</b></small>
    </mat-card-header>
    <mat-card-content>
      <p>
  This profile contains the basic details of the registered user. 
  Clients can connect with advocates to seek legal advice, 
  while advocates can showcase their expertise and provide assistance 
  in various legal matters. Please ensure your information is 
  up-to-date for better communication and service.
</p>

    </mat-card-content>
    <mat-card-actions>
      <!-- <button matButton>LIKE</button>
      <button matButton>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>